html {
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: dark;
}

body {
    background-color: #000000;
    font-family: Inconsolata, monospace;
    color: white;
}

h1 {
    font-size: 60px;
    text-decoration: underline;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#menu ul {
    white-space: nowrap;
    overflow: auto;
    float: right;
    list-style: none;
}

#menu li {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px;
    background-color: #777;
}

#menu li:hover {
    background-color: #333;
}

#profile-picture {
    position: absolute;
    top: 50px;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture img {
    margin: auto;
}

#picture-description {
    text-align: center;
}

header {
    text-align: center;
    line-height: 150%;
    height: 300px;
    margin-top: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

article {
    line-height: 200%;
}

#links {
    line-height: 200%;
}

#seperation {
    background-color: #2b2a2a;
}

footer {
    line-height: 75%;
}

#hashtags ul {
    list-style: none;
}

#hashtags li {
    display: inline;
    float: right;
}

.credits {
    text-align: center;
}

#credits ul {
    list-style: none;
}

#credits li {
    display: inline;
}

#menu a:link {
    color: white;
}

#menu a:visited {
    color: white;
}

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

#content a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

footer a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

html::-webkit-scrollbar-thumb {
    border-radius: 25px;
}
html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

html::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0 0 0 100vh black;
}

.github-corner:hover .octo-face {
    display: inline;
}

.github-corner .octo-face {
    display: none;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0,
    100% {
        transform: rotate(0deg);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media(max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
